//
// 14. Footer
//
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $gray-900;
  h5 {
      color: $white;
      font-size: 15px;
      margin-bottom: 20px;
      font-weight: 700;
      letter-spacing: 1px;
  }
  a {
      color: rgba($white, 0.4);
      &:hover {
          color: rgba($white, 0.6);
          ;
      }
  }
  ul {
      li {
          margin: 5px 0px;
      }
  }
  address {
      color: rgba($white, 0.4);
      line-height: 24px;
      font-size: 13px;
  }
}

.footer-alt {
  margin-top: 30px;
  padding-top: 20px;
}