//
// 8. Subscribe
//
.input-subscribe {
  background-color: transparent !important;
  color: $white !important;
  border: 2px solid rgba($white, 0.4);
  height: 50px;
  padding-left: 20px;
  box-shadow: none !important;
  margin-bottom: 10px;
  &:focus {
      border: 2px solid rgba($white, 0.6);
  }
}

input {
  &.input-subscribe::-webkit-input-placeholder {
      color: rgba($white, 0.4);
      font-weight: normal;
  }
  &.input-subscribe:-moz-placeholder {
      color: rgba($white, 0.4);
  }
  &.input-subscribe::-moz-placeholder {
      color: rgba($white, 0.4);
  }
  &.input-subscribe:-ms-input-placeholder {
      color: rgba($white, 0.4);
  }
}

label {
  &.valid {
      color: $white;
      font-weight: normal;
      margin: 10px 0;
  }
}